//.bgImage {
//  background-size: cover;
//  background-position: center;
//  background-repeat: no-repeat;
//}

%bgImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}