// colors
$color-black-0: #29303b;
$color-border-1: rgba(20,23,28,0.1);
$color-white: #fff;
$color-black-light: #505763;
$color-white-1: #f2f3f5;
$color-red-0: #ec5252;
$color-gray-0: #686f7a;
$color-red-1: #521822;
$color-border-0: rgba(20,23,28,0.05);
$color-blue-0: #007791;
$color-blue-1: #76c5d6;
$color-gray-1: #dee2e6;
$color-gray-2: #a1b7b3;
$color-gray-3: #f7f8fa;
$color-yellow-0: #f4c150;
$color-border-2: #dedfe0;
$color-purple: #6e1a52;





//font size
$font-size-0: 15px;
$font-size-1: 13px;
$font-size-2: 40px;
$font-size-3: 18px;
$font-size-4: 36px;
$font-size-5: 24px;
$font-size-6: 50px;





//font weight
$font-weight-0: normal;
$font-weight-1: 600;
$font-weight-2: 700;
$font-weight-3: 900;



//line height
$line-height-0: 1.43;

//margin
$mg-0: 5px;
$mg-1: 25px;
$mg-2: 20px;
//padding
$pd-0: 10px;
$pd-1: 15px;
$pd-2: 20px;

//border radius
$border-radius: 2px;
//break point
$breakpoints : (
    'extra-large': 1200px,
    'large': 992px,
    'medium': 768px,
    'small': 576px,
);

