.banner {
  height: 325px;
  background: url(../img/logo-coral.svg) 0/30% no-repeat, linear-gradient(60deg, $color-purple, $color-blue-1 41%);
  background-blend-mode: overlay;
  //background: linear-gradient();
  display: flex;
  align-items: center;
  justify-content: center;
  .banner__content {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    h2 {
      @include styleText($color-white,$font-size-4,$font-weight-0 );
    }
    p {
      @include styleText($color-white, $font-size-0, $font-weight-0);
      margin-bottom: 0;
    }
    button {
      margin: $mg-0 + 5 0;
    }
  }
}