.cover {
  background-image: url("../img/cover.jpg");
  @extend %bgImage;
  height: 500px;
  position: relative;
  .cover__content {
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    h1 {
      @include styleText($color-white, $font-size-2, $font-weight-2);
    }
    p {
      @include styleText($color-white, $font-size-3, $font-weight-0);
    }
    .cover__form {
      @include styleFormSearch($color-white, $color-white, $color-border-2);
    }
  }
}