.feedback {
  width: 95%;
  margin: 0 auto;
  .feedback__content {
    h2 {
      @include styleText($color-black-0, $font-size-5, $font-weight-0);
      margin-bottom: $mg-0 + 5;
    }
    .owl-theme .owl-dots .owl-dot span {
      display: none;
    }
  }
}