.headerNavbar {
  box-shadow: 0 0 1px 1px $color-border-1, 0 3px 1px 0 $color-border-1;
  .headerNavbar__left {
    display: flex;
    align-items: center;
    justify-content: center;
    .navbar-brand {
      flex-grow: 0.8;
      margin-right: 0;
      text-align: center;
      img {
        width: 110px;

      }
    }
    .headerNavbar__categories {
      flex-grow: 0.8;
      text-align: center;
      @include styleText($color-black-light,$font-size-1,$font-weight-0);
      cursor: pointer;
      i {
        color: $color-gray-2;
      }
    }
    .headerNavbar__form {
      flex-grow: 8;
      text-align: center;
      transition: none;
      @include styleFormSearch($color-white-1, $color-white, $color-border-2);
    }
  }
  .headerNavbar__right {
    padding-right: 1.5rem;
    .navbar-nav {
      justify-content: space-between;
      align-items: center;
      .item__business {
        position: relative;
        border-radius: $border-radius + 1;
        white-space: nowrap;
        &:hover {
          background-color: $color-border-1;
          .overlay {
            display: block;
          }
        }
      }
      .nav-item {
        .nav-link {
          @include styleText($color-black-light,$font-size-1,$font-weight-0);
          padding: $pd-0 - 2;
        }
      }
      .overlay {
        display: none;
        background-color: $color-white;
        width: 300px;
        padding: $pd-2;
        text-align: center;
        position: absolute;
        right: 0;
        top: 45px;
        z-index: 10;
        border-top: 1px solid $color-border-1;
        box-shadow: 0 4px 16px $color-border-1, 0 -1px 16px $color-border-1;
        border-radius: $border-radius;
        p {
          @include styleText($color-black-light,$font-size-0,$font-weight-0);
        }
        a {
          text-decoration: none;
        }
        &::before {
          content:'';
          height: 15px;
          width: 15px;
          transform: rotate(45deg);
          background-color: $color-white;
          display: block;
          position: absolute;
          border-top: 1px solid $color-border-1;
          border-left: 1px solid $color-border-1;
          right: 8%;
          top: -8px;
          z-index: 1;
        }

      }
      .headerNavbar__card {
        border-radius: 50%;
        text-align: center;
        width: $font-size-2;
        height: $font-size-2;
        line-height: -$font-size-2;
        &:hover {
          background-color: $color-border-1;
        }

        .nav-link {
          font-size: $font-size-3 + 2;
        }
      }
      li:last-child {
        .nav-link {
          display: flex;
          button {
            white-space: nowrap;
            &:first-child {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  //@media screen and (min-width: 1200px ) and (max-width: 1286px) {
  //  .headerNavbar {
  //    padding-left: 0;
  //  }
  //}
  @include responsive('extra-large') {
    .headerNavbar__right {
      .navbar-nav {
        .item__business {
          display: none;
        }
      }
    }
  }
}

