.intro {
  background: linear-gradient(-45deg, $color-red-0, $color-purple);
  color: $color-white;
  padding: $pd-2;
  .intro__content {
    .intro__item {
      display: flex;
      justify-content: center;
      align-items: center;
      .intro__icon {
        font-size: $font-size-6;
        margin-right: $pd-2;
      }
      .intro__detail {
        p {
          margin-bottom: 0;
          &:first-child {
            @include styleText($color-white, $font-size-3 - 1, $font-weight-2);
          }
          &:last-child {
            @include styleText($color-white, $font-size-0, $font-weight-0);
          }
        }
      }
    }
  }
}